@use "sass:math";
@use "../mixins" as *;
@use "../media" as *;

.contact-us {
  position: relative;
  padding: 60px 100px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-gray);

  @include tablet {
    padding: 40px 60px;
  }
  @include mobile {
    padding: 20px 30px;
  }

  &::after {
    --contactUsImageOffsetY: 62px;

    content: "";
    position: absolute;
    top: 50%;
    left: 80%;
    translate: -50% -50%;
    height: calc(100% - var(--contactUsImageOffsetY) * 2);
    aspect-ratio: 1;
    background: url("/images/human-login.svg") center/contain no-repeat;

    @include tablet {
      display: none;
    }
  }

  &__form,
  &__body,
  &__feild {
    display: flex;
    flex-direction: column;
  }

  &__form {
    row-gap: 40px;
    max-width: 556px;
    @include tablet {
      max-width: 100%;
    }
  }

  &__body {
    row-gap: 50px;

    @include mobile {
      row-gap: 30px;
    }
  }
  &__button {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}
