@use "sass:math";
@use "../mixins" as *;
@use "../media" as *;
.hero {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include flex-center(true);
    @include fluid-text(80, 43);
    padding-top: 100px;
    color: var(--color-light);
    text-align: center;

    @include mobile {
      padding-top: 20px;
    }
  }

  &__text {
    display: flex;
    padding-block: 35px;
    max-width: 500px;
    @include fluid-text(18, 16);
    text-align: center;
    color: var(--color-light);

    @include desktop {
      padding-block: 25px;
    }
    @include tablet {
      padding-block: 20px;
    }
  }
}
