.puddle-bg {
  padding-inline: var(--border-radius);
  background-color: var(--color-green);
  border-radius: var(--border-radius-small);

  &--light {
    background-color: var(--color-light);
  }
}
