@use "sass:math";
@use "../mixins" as *;
@use "../media" as *;
.subscribe-form {
  display: flex;
  align-items: center;
  border: var(--border-light);
  border-radius: var(--border-radius-large);
  padding: 58px 40px;
  column-gap: 20px;
  align-self: center;

  @include desktop {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
    padding: 20px 20px;
    height: 100%;
    width: 100%;

    &__button {
      width: 100%;
    }
  }
}
