@font-face {
  font-family: "Geist";
  src: url(/fonts/Geist-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url(/fonts/Geist-Medium.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url(/fonts/Geist-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
