//Миксины в SCSS не компилируются в CSS, пока ты их не используешь в коде.
$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 768px;
$tablet: 767px;

$mobile-above: 481px;
$mobile: 480px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}
// ?---
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}
// ?---
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @supports (hover: none) {
    @media (hover: none) {
      &:active {
        @content;
      }
    }
  }
}
