:root {
  --color-dark: #262626;
  --color-dark-alt: #898989;
  --color-light: #f6ffd3;
  --color-green: #53d94d;

  --color-gray: #cbcbcb;
  --color-white: #ffffff;

  --border-light: 1px solid var(--color-light);
  --border-dark: 1px solid var(--color-dark);
  --box-shadow: 0px 0px 30px var(--color-green); // Усиленная тень при ховере
  --box-shadow-gray: 0px 0px 40px var(--color-gray); // Усиленная тень при ховере

  --border-radius-small: 15px;
  --border-radius: 25px;
  --border-radius-large: 45px;

  --font-family-base: "Geist", sans-serif;

  --container-width: 1240px;
  --container-padding-x: 10px;

  --section-padding-y: 50px;

  --input-height: 57px;

  --button-height-small: 42px;
  --button-height: 54px;
  --button-height-large: 60px;

  --transition-duration: 0.2s;
}
